//! REFACTORED \\\

.main {
  max-width: $width-default;
  margin: 0 auto;
  position: relative;
  //! Mixins \\\
  @include respond(desktop) {
    padding: 0 4rem;
  }

  &__products,
  &__checkout,
  &__pages {
    padding-top: 25.6rem;
    position: relative;
    @include flexColumnGap(16rem);

    .section__categories {
      width: 100%;
    }
    @include respond(tablet-big) {
      padding-top: 21.6rem;
    }
    @include respond(tablet) {
      padding-top: 21.6rem;
    }
  }

  &__checkout {
    display: grid;
    grid-template-columns: minmax(73rem, 100%) minmax(35rem, 100%);
    gap: 3rem;
    @include respond(desktop) {
      display: flex;
      flex-direction: column;
    }
  }
}
