//! REFACTORED \\\

.main {
  max-width: $width-default;
  margin: 0 auto;
  position: relative;
  //! Mixins \\\
  @include respond(desktop) {
    padding: 0 4rem;
  }

  &__products,
  &__pages {
    @include flexColumnGap(16rem);
    .section__categories {
      width: 100%;
    }
    @include respond(tablet-big) {
      margin-top: 9.6rem;
    }
  }

  &__products {
    margin-top: 9.6rem;
    position: relative;
  }
}
