//! REFACTORED \\\

.zigzag {
  position: relative;

  //! MIXINS \\\
  @include respond(desktop) {
    margin-top: 5rem;
  }
  @include respond(tablet) {
    @include flexColumnAlignCenterWithGap(16rem);
  }
  &__categories {
    @include flexColumnAlignCenterWithGap(16rem);

    //! MIXINS \\\

    @include respond(desktop) {
      gap: 16rem;
    }
    @include respond(tablet-big) {
      gap: 8rem;
    }
  }
  &__products {
    @include respond(tablet-big) {
      margin-top: 10rem;
    }
  }

  //?###################### CARD ######################?\\
  &__card {
    min-height: 56rem;
    @include flexAlignCenterWithGap(12.5rem);
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &--products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include respond(tablet-big) {
        gap: 3rem;
      }
      @include respond(phone-rotated) {
        @include flexColumn;
      }
    }
    &--categories {
      //! MIXINS \\\
      @include respond(tablet) {
        @include flexColumnAlignCenter;
        &:nth-child(2n) {
          flex-direction: column;
        }
      }
    }
  }

  //?###################### IMAGE ######################?\\
  &__image {
    width: 100%;
    border-radius: $border-radius-default;
  }
  //?###################### TITLE ######################?\\
  &__title {
    @include applyGapOnH2PButton;
    max-width: 44.5rem;

    &--products {
      //! MIXINS \\\
      @include respond(phone-rotated) {
        @include alignSelfItemsTextCenter;
      }
      @include respond(phone) {
        align-self: flex-start;
        align-items: flex-start;
        text-align: start;
      }
    }
    &--categories {
      //! MIXINS \\\
      @include respond(tablet) {
        @include alignSelfItemsTextCenter;
      }
    }
  }
}
