//! REFACTORED \\\

.section__categories {
  max-width: $width-default;
  @include flexRowGap(3rem);
  margin: 0 auto;
  &--main {
    margin-top: 20rem;
  }
  //! Mixins \\\
  @include respond(tablet) {
    max-width: $width-tablet;
    @include flexColumnAlignCenterWithGap(6.8rem);
  }
}

.categories {
  &__card {
    @include widthAndHeight(35rem, 20rem);
    @include flexColumnAlignCenterWithGap(2rem);
    background-color: #f1f1f1;
    position: relative;
    border-radius: $border-radius-default;
  }
  &__img {
    @include positionAbsoluteTopLeftRight(-27%, 0, 0);
    height: 16rem;
    margin: 0 auto;
  }
  &__heading {
    margin-top: 10rem;
  }
}
